version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_dev
    environment:
      POSTGRES_DB: dev_db
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: bQW1CVnowyvnehq4
    volumes:
      - dev_pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432" # optional, chỉ mở nếu cần connect từ ngoài
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: backend_dev
    command: npm run dev
    env_file:
      - .env.dev
    ports:
      - "3002:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./frontend
    container_name: frontend_dev
    command: npm run dev -- --host
    ports:
      - "3003:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  dev_pgdata:
