services:
  db:
    image: postgres:15
    container_name: postgres_prod
    env_file: .env.prod
    volumes:
      - prod_pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    container_name: backend_prod
    env_file: .env.prod
    expose:
      - "3000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: frontend_prod
    ports:
      - "3001:80"
    depends_on:
      - backend

volumes:
  prod_pgdata:
