services:
  db:
    image: postgres:15
    container_name: postgres_dev
    environment:
      POSTGRES_DB: dev_db
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: bQW1CVnowyvnehq4
    volumes:
      - dev_pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: backend_dev
    env_file:
      - .env.dev
    ports:
      - "3002:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend_dev
    ports:
      - "3003:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  dev_pgdata:
