name: Deploy DEV

on:
  push:
    branches: [dev]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS (DEV)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            set -e
            cd /var/www/prosimex-dev || git clone -b dev https://github.com/sonndDev/prosimex.git /var/www/prosimex-dev
            cd /var/www/prosimex-dev
            git fetch origin
            git reset --hard origin/dev
            docker compose -f docker-compose.dev.yml down
            docker compose -f docker-compose.dev.yml up -d --build
