script: |
  set -e
  echo "===== DEPLOY DEV ====="

  if [ ! -d "/var/www/prosimex-dev/.git" ]; then
    echo "Repo not found, cloning..."
    rm -rf /var/www/prosimex-dev
    git clone -b dev https://github.com/sonndDev/prosimex.git /var/www/prosimex-dev
  fi

  cd /var/www/prosimex-dev
  git fetch origin
  git reset --hard origin/dev

  docker compose -f docker-compose.dev.yml down
  docker compose -f docker-compose.dev.yml up -d --build
